@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');


* , *::before , *::after{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    margin-left: auto;
    margin-right: auto;
    background-color: hsla(0, 0%, 100%, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
} 

p{
    font-size: 10px;
    font-family: 'Lexend Deca';
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 18px;
    position: relative;
    top:45px;
    opacity: 70%;
    padding-right: 10px;
}

button{
    font-family: 'Lexend Deca';
    font-size: 10px;
    border-radius: 30px;
    border: none;
    width: 100px;
    height: 30px;
    position: relative;
    top: 100px;
    cursor: pointer;
}

img{
    width: 50px;
}

h2{
    position: relative;
    top:25px;
}

div.container {
    width: 630px;
    height: 360px;
    display: flex;
    border-radius: 7px;
    overflow: hidden;
}

div.cards{
    display: flex;
    font-family: 'Big Shoulders Display';
    color: hsl(0, 0%, 95%);
}

div.first-card{
    padding: 40px 30px;
    width: 210px;
    background-color: hsl(31, 77%, 52%);
}

div.second-card{
    padding: 40px 30px;
    width: 210px;
    background-color: hsl(184, 100%, 22%);
}

div.third-card{
    padding: 40px 30px;
    width: 210px;
    background-color: hsl(179, 100%, 13%);
}

.first-card button{
    color: hsl(31, 77%, 52%);
}

.second-card button{
    color:  hsl(184, 100%, 22%);
}

.third-card button{
    color: hsl(179, 100%, 13%);
}

@media screen and (min-width: 500px) and (max-width: 650px){

    div.container{
        width: 505px;
        margin-left: 5px;
        height: 320px;
        margin-top: 20%;
    }

    div.first-card{
        width: 170px;
        margin-top: -15px;
    }

    div.second-card{
        width: 170px;
        margin-top: -15px;
    }

    div.third-card{
        width: 170px;
        margin-top: -15px;
    }

    h2{
        top:10px;
    }

    p{
        margin-right: -10px;
        top:25px;
    }

    .first-card button{
        position: relative;
        top:70px;
        width: 85px;
        height: 27px;
    }
    
    .second-card button{
        position: relative;
        top:70px;
        width: 85px;
        height: 27px;
    }

    .third-card button{
        position: relative;
        top:70px;
        width: 85px;
        height: 27px;
    }

    @media screen and (min-width: 375px) and (max-width: 500px){

        div.container{
            display: flex;
            justify-content: center;
            margin-top: auto;
            margin-bottom: auto;
            position: relative;
            top: -30px;
            width: 180px;
            height: 800px;
        }

        div.cards{
            display: grid;
            grid-template-rows: auto;
        }
        

        div.first-card{
            width: 180px;
            position: relative;
            top: 5px;
        }
        
        div.second-card{
            width: 180px;
            position: relative;
        }
        
        div.third-card{
            width: 180px;
            position: relative;
        }

        img{
            width: 35px;
        }

        p{
            margin-top: -8px;
            margin-right: -17px;
            padding-right: 11px;
            font-size: 8px;
        }

        .first-card button{
            position: relative;
            top:43px;
            width: 85px;
            height: 27px;
        }
        
        .second-card button{
            position: relative;
            top:46px;
            width: 85px;
            height: 27px;
        }
        
        .third-card button{
            position: relative;
            top:60px;
            width: 85px;
            height: 27px;
        }
    }

}